@import '../../styles/vars';

.main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 235px;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 45px) 210px 20px;
}

.image {
    display: none;
}


.name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding-left: 0.5rem;
    align-self: center;
}

.icon {
    &_booster {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        color: gold;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;
    }

    &_pen, &_trash {
        display: none;
    }

    &_boss {
        color: black;
        grid-column: 2 / 3;
    }

}

.description {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    margin-left: 0.5rem;
    font-family: $font-description;
    overflow-y: scroll;
    padding-right: 1rem;
    width: 95%;
}

.category {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0.5rem;
}

.add_monster {
    display: none;
}

.monsters {
    font-weight: bold;
    margin-bottom: 1rem;
}

.monster {
    display: grid;
    grid-template-columns: 200px 25px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    align-items: center;

    &_name {
        grid-column: 1 / 2;
    }

}

.actions {
    display: none;
}

.icon_action {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/images/actions.png');
    background-repeat: no-repeat;
    transform: scale(0.5);
}

.heal {
    background-position-x: $position-normal;
    background-position-y: $position-heal;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-heal;
    }
}

.sword {
    background-position-x: $position-normal;
    background-position-y: $position-sword;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-sword;
    }
}

.bow {
    background-position-x: $position-normal;
    background-position-y: $position-bow;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-bow;
    }
}

@media screen and (min-width: 768px) {
    .main {
        width: 300px;
    }

    .icon {
    
        &_pen {
            display: block;
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }
    
        &_trash {
            display: block;
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }
        
        &_boss {
            grid-column: 3 / 4;
        }
    }

    .add_monster {
        display: block;
        padding: 0.5rem;
        opacity: 0.5;
        align-self: center;
    
        &:hover {
            opacity: 1;
        }
    }
    
    .monster {
        grid-template-columns: 150px 125px 25px;
    }
    
    .actions {
        grid-column: 2 / 3;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    

}

@media screen and (min-width: 1200px) {
    .main {
        width: 400px;
    }

    .section {
        grid-template-columns: 170px 210px 20px;
        grid-template-rows: repeat(3, 45px) 210px 50px;    
    }
        
    .name, .category {
        grid-column: 2 / 3;
    }

    .image {
        display: block;
        max-width: 170px;
        max-height: 130px;
        grid-row: 1 / 5;
        grid-column: 1 / 2;
        border-radius: 5px;
    }
    
    .icon {

        &_booster {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
        }  
              
    }

    .monster {
        grid-template-columns: 150px 225px 25px;
    }

}
