@import '../../styles/vars';

.main {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    width: 235px;
    overflow-x: scroll;
}

.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 45px) 210px 20px;
}

#image, .image {
    display: none;
}


.name {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 0;
    padding-left: 0.5rem;
    align-self: center;

}

.icon {
    &_booster {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        color: gold;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;
    }

    &_pen, &_trash {
        display: none;
    }

}

.description {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    margin-left: 0.5rem;
    font-family: $font-description;
    overflow-y: scroll;
}

.category {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 0.5rem;
}

.add_monster {
    padding: 0.5rem;
    opacity: 0.5;
    align-self: center;

    &:hover {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .main {
        width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        width: 400px;
    }

    .section {
        grid-template-columns: 170px 210px 20px;
        grid-template-rows: repeat(3, 45px) 210px 50px;    
    }
        
    .name, .category {
        grid-column: 2 / 3;
    }

    #image {
        display: block;
        max-width: 170px;
        max-height: 130px;
        grid-row: 1 / 5;
        grid-column: 1 / 2;
        border-radius: 5px;
    }
    
    .image {
        display: block;
        width: 170px;
        height: 130px;
        grid-row: 1 / 5;
        grid-column: 1 / 2;
    }

    .icon {
        &_booster {
            grid-row: 3 / 4;
            grid-column: 2 / 3;
            }
    
        &_pen {
            display: block;
            grid-row: 1 / 2;
            grid-column: 3 / 4;
        }
    
        &_trash {
            display: block;
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }
        
    }

}
