@import '../../styles/vars';

.group, .monster, .place {
    background-image: url(../../assets/images/texture_tertiary_890.jpg);
    background-size: cover;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: auto;
    width: 262px;
}

.skills, .inventory {
    background-image: url(../../assets/images/texture_tertiary_890.jpg);
    background-size: cover;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin: 1rem;
    padding-bottom: 1rem;
    min-height: max-content;
}

@media screen and (min-width: 768px) {
    .group {
        min-width: max-content;
    }

    .monster, .place {
        width: 340px;
    }      

    .skills, .inventory {
        width: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .place {
        width: 445px;
    }
}
