.form {
    margin-top: 3rem;
    padding-left: 2rem;

    &_field {
        display: flex;
        flex-direction: column;
        margin-top: 0.8rem;
        margin-bottom: 2rem;
        width: 230px;
        height: 30px;
    }

    &_item  {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }

}

#image_preview, #new_image_preview {
    max-width: 150px;
    max-height: 200px;
    align-self: center;
}


.error_message {
    color: red;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-style: italic;
}

#close_button {
    position: relative;
    top: -3rem;
    left: 2rem;  
}

#submit_button {
    position: relative;
    left: 7rem;  
}

@media screen and (min-width: 600px) {
    .form {
        padding-right: 2rem;
    }

    #submit_button {
        left: 8rem;  
    }

}