@import '../../styles/vars';

.main {
    grid-row: 2 / 3;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 200px 50px ;
    grid-gap: 0.5rem;
    justify-items: center;
    align-items: center;

    &_field {
        font-family: $font-body;
        border: none;
    }

    &_group {
        display: flex;
        width: 150px;

    }
     &_radio {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        &-input {
            margin-right: 0.5rem;
        }
    }

    &_item  {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }

}

.image_container {
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    height: 300px;
    width: 300px;
    justify-self: center;
    border-radius: 5px;
}

#image_preview {
    height: 100%;
}

.character_name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 1rem;
    justify-self: flex-start;

    & .form_field {
        width: 250px;
        margin-left: 1rem;
    }

    & .error_message {
        margin-top: 0.5rem;
    }
}

.character_picture {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    text-align: center;
}

.new-identity {
    align-self: flex-start;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    align-items: center;
    justify-items: center;
    justify-self: flex-start;

        & .form_field {
            width: 175px;
        }
}

.caracteristics {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: baseline;
}

.icon {
    &_lifepoints {
        color: red;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;

        &_input {
            width: 30px;
            border: none;
            background-color: inherit;
            font-weight: bold;
            font-size: 1.1rem;
            padding-left: 0.3rem;
            padding-right: 0.8rem;
            font-family: $font-body;
            color: $color-primary
        }
    }

    &_armor {
        color: darkblue;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;

        &_input {
            width: 30px;
            border: none;
            background-color: inherit;
            font-weight: bold;
            font-size: 1.1rem;
            padding-left: 0.3rem;
            padding-right: 0.8rem;
            font-family: $font-body;
            color: $color-primary
        }
    }

    &_value {
        font-size: 1.1rem;
        padding-left: 0.3rem;
        padding-right: 0.8rem;
    }

    &_booster {
        color: gold;
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;
    }

}

.error_message {
    color: red;
    // margin-top: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    grid-column: 1 / span 2;
}

.info {
    font-size: 0.7rem;
    font-style: italic;
    grid-column: 1 / span 2;
    justify-self: center;
}

#cancel_button {
    grid-column: 1 / 2;
    justify-self: end;
}

#submit_button {
    grid-column: 2 / 3;
    justify-self: start;
}

.profession_infos {
    text-align: center;
}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_action {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/images/actions.png');
    background-repeat: no-repeat;
}

.heal {
    background-position-x: $position-normal;
    background-position-y: $position-heal;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-heal;
    }
}

.spell {
    background-position-x: $position-normal;
    background-position-y: $position-spell;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-spell;
    }
}

.sword {
    background-position-x: $position-normal;
    background-position-y: $position-sword;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-sword;
    }
}

.bow {
    background-position-x: $position-normal;
    background-position-y: $position-bow;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-bow;
    }
}

.inventory {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block_skills_inventory {
    grid-column: 1 / span 2;
    justify-self: center;
}

.skills {
    width: 300px;
}

.action {
    justify-content: space-between;
}

@media screen and (min-width: 1200px) {

    .form {
        grid-template-rows: 50px 400px 50px;
        width: 1100px;
    }

    .image_container {
        height: 500px;
        width: 500px;
    }
        
    .caracteristics {
        align-self: initial;
    }
    
    .profession_infos {
        grid-row: 2 / 3;
        grid-column: 1 / span 3;
    }
    
}

@media screen and (min-width: 1500px) {

    .form {
        width: 1400px;
    }

    .block_skills_inventory {
        display: flex;
    }

}
