@import '../../styles/vars';

.main {
    grid-row: 2 / 3;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show_character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#block_form, #block_character {
    background-color: initial;
    margin-top: 1rem;
}

.hide_character {
    display: none;
}

.hide_form {
    display: none;
}

.show_form {
    display: block;
}

#image, #image_preview, #new-image_preview {
    height: 200px;
    justify-self: center;
    border-radius: 5px;
}

.character_level {
    font-style: italic;
    margin-bottom: 1rem;
}

.identity {
    margin-top: 1rem;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.caracteristics {
    margin-top: 1rem;
}

.icon {
    &_lifepoints {
        color: red;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;

        &_input {
            width: 30px;
            border: none;
            background-color: inherit;
            font-weight: bold;
            font-size: 1.1rem;
            padding-left: 0.3rem;
            padding-right: 0.8rem;
            font-family: $font-body;
            color: $color-primary
        }
    }

    &_armor {
        color: darkblue;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;

        &_input {
            width: 30px;
            border: none;
            background-color: inherit;
            font-weight: bold;
            font-size: 1.1rem;
            padding-left: 0.3rem;
            padding-right: 0.8rem;
            font-family: $font-body;
            color: $color-primary
        }
    }

    &_value {
        font-size: 1.1rem;
        padding-left: 0.3rem;
        padding-right: 0.8rem;
    }

    &_booster {
        color: gold;
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        padding-left: 0.5rem;
        align-self: center;
        font-size: 1.5rem;
    }

    &_pen, &_trash {
        display: none;
    }

}

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_action {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/images/actions.png');
    background-repeat: no-repeat;
}

.heal {
    background-position-x: $position-normal;
    background-position-y: $position-heal;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-heal;
    }
}

.spell {
    background-position-x: $position-normal;
    background-position-y: $position-spell;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-spell;
    }
}

.sword {
    background-position-x: $position-normal;
    background-position-y: $position-sword;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-sword;
    }
}

.bow {
    background-position-x: $position-normal;
    background-position-y: $position-bow;

    &-special {
        background-position-x: $position-special;
        background-position-y: $position-bow;
    }
}

.inventory {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {

    .form {
        display: grid;
        grid-template-rows: 50px 50px 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        justify-items: center;
        align-items: center;
    
        &_field {
            font-family: $font-body;
            border: none;
        }
    
        &_group {
            display: flex;
            width: 150px;
            height: 30px;
    
        }
         &_radio {
            display: flex;
            align-items: center;
            margin-right: 1rem;
    
            &-input {
                margin-right: 0.5rem;
            }
        }
    
        &_item  {
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
        }
    
    }
      
    .show_character {
        display: grid;
        grid-template-rows: 50px 50px 200px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;        
    }
    
    .block_skills_inventory {
        grid-column: 1 / span 2;
        justify-self: center;
    }

    #title {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: flex-start;
    }
    
    .character_level {
        margin-bottom: 0.5rem;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: flex-start;
    }
    
    #image, #image_preview, #new-image_preview {
        grid-row: 1 / span 3;
        grid-column: 1 / 2;
        height: 300px;
    }

    .identity {
        margin-top: 0.5rem;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    
    .new-identity {
        align-self: flex-start;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        width: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        align-items: center;
        justify-items: center;
        justify-self: flex-start;
        
            & .form_field {
                width: 175px;
            }
    }
    
    .caracteristics {
        margin-top: 1rem;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        margin: 0;
    }
    
    .new-caracteristics {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        align-self: end;
        justify-self: baseline;
    }

    .error_message {
        color: red;
        margin-top: -1.5rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        font-style: italic;
    }
        
    .new-character_name {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: flex-start;

    
        & .form_field {
            width: 250px;
            margin-left: 1rem;
        }
    }

    .character_picture {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        text-align: center;
    }    
    
    .info {
        font-size: 0.7rem;
        font-style: italic;
        grid-column: 1 / span 2;
        grid-row: 5 / 6;
        justify-self: center;
    }
    
    #cancel_button {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
        justify-self: end;
    }
    
    #submit_button {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        justify-self: start;
    }
    
    .icon {
        &_pen {
            display: block;
            grid-row: 1 / 2;
            grid-column: 1 / span 2;
            justify-self: flex-end;
            margin-bottom: 1.5rem;
        } 
        
        &_trash {
            display: block;
            grid-row: 1 / 2;
            grid-column: 1 / span 2;
            justify-self: flex-end;
            align-self: flex-end;
        }

    }
    
    .skills {
        width: 300px;
    }

    .action {
        justify-content: space-between;
    }
    
}

@media screen and (min-width: 1200px) {

    #block_character, #block_form {
        width: 1100px;
    }

    .form, .show_character {
        grid-template-rows: 50px 50px 400px;
    }

    #image, #image_preview, #new_image_preview {
        height: 500px;
    }

    .new-caracteristics {
        align-self: initial;
    }

}

@media screen and (min-width: 1500px) {
    #block_character, #block_form {
        width: 1400px;
    }
    
    .block_skills_inventory {
        display: flex;
    }
}
