@import '../../styles/vars';

.form {
    min-width: 400px;
    max-width: 600px;
    height: max-content;
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;

    &_content {
        grid-column: 1 / span 12;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
    }

    &_label {
        margin: 0.5rem;
    }

    &_field {
        margin: 0.5rem;
    }
    
    &_group {
        display: flex;
        width: 150px;
        height: 30px;
    }

    &_checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        &-input {
            margin-right: 1rem;
        }

    }

}

.error_message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

#submit_button {
    grid-row: 2 / 3;
    grid-column: 11 / 12;
}

#cancel_button {
    grid-row: 2 / 3;
    grid-column: 10 / 11;
}

#image_preview, .new-image_preview {
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
    align-self: center;
}

.newMonster_picture {
    text-align: center;
}

.action {
    margin-left: 1rem;

    &_title {
        font-style: italic;
    }

    &_button {
        margin: 1rem;
    }

}
