@import '../../styles/vars';

.main {
    grid-row: 2 / 3;
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show_scenario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#block_form, #block_scenario {
    background-color: initial;
}

.hide_scenario {
    display: none;
}

.hide_form {
    display: none;
}

.show_form {
    display: block;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 125px;
    width: 200px;
    justify-self: center;
    border-radius: 5px;
}

#image, #image_preview, #new_image_preview {
    width: 100%;
}

.table {

    padding: 0.5rem;
    margin: 1rem;
    width: 300px;

    &_content {
        width: 300px;
        display: grid;
        grid-gap: 1rem;
        align-items: center;
    }
    
    &_row {
        display: grid;
        grid-template-columns: 200px 80px;
        grid-gap: 0.5rem;
        align-items: center;
        justify-items: center;
    }

    &_cell {
        
        &-name {
            grid-column: 1 / 2;
            height: 30px;
            display: flex; 
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &-value {
            width: 150px;
            height: 30px;
            grid-column: 2 / 3;
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    }
}

.description, .new-description {
    width: 300px;
    height: 290px;
    margin: 1rem;
    font-family: $font-description;
    overflow: scroll;

    h4 {
        text-align: start;
        margin: 0;
        font-family: $font-body;
        font-weight: normal;
    }
}

.add_group, .add_place {
    padding: 0.5rem;
    opacity: 0.6;
    align-self: center;

    &:hover {
        opacity: 1;
    }
}

.icon {
    &_pen, &_trash {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #title {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .show_scenario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;        
    }

    .image_container {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        height: 225px;
        width: 300px;    
    }

    .caracteristics {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .description {
        grid-column: 1 / span 2;
        width: 600px;
        justify-self: center;
        grid-row: 3 / 4;
    }
        
    .icon {
        &_pen {
            display: block;
            grid-row: 1 / 2;
            grid-column: 1 / span 2;
            justify-self: flex-end;
        } 
        
        &_trash {
            display: block;
            grid-row: 1 / 2;
            grid-column: 1 / span 2;
            justify-self: flex-end;
            align-self: flex-end;
        }

    }

    .form {
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
        justify-items: center;
        align-items: center;
        margin-top: 1rem;

        &_field {
            font-family: $font-body;
            border: none;
        }
    } 
    
    .scenario_picture {
        grid-row: 2 / 3;
        grid-column: 2 / 2;
        align-self: flex-end;
    }

    .new-scenario_name {
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
        margin-bottom: 1rem;
    
        & .form_field {
            width: 250px;
            margin-left: 1rem;
        }
    }
        
    .new-description {
        grid-column: 1 / span 2;
        width: 600px;
        justify-self: center;
        grid-row: 3 / 4;
        height: 300px;
        text-align: center;
        padding: 0.5rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
    
        & .form_field {
            width: auto;
            height: 280px;
        }
    }
        
    .new-caracteristics {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin: 1rem;
        width: 300px;
        display: grid;
        grid-template-columns: 200px 80px;
        grid-gap: 1rem;
        align-items: center;
        justify-items: center;
        
        & .form_field {
            width: 30px;
        }
    }
        
    .info {
        font-size: 0.7rem;
        font-style: italic;
        grid-column: 1 / span 2;
        justify-self: center;
    }
    
    #cancel_button {
        grid-column: 1 / 2;
        justify-self: end;
    }
    
    #submit_button {
        grid-column: 2 / 3;
        justify-self: start;
    }
}

@media screen and (min-width: 1200px) {
    #title, .new-scenario_name {
        grid-column: 1 / span 3;
    }

    .image_container {
        height: 375px;
        width: 500px;
    }

    .caracteristics, .new-caracteristics {
        grid-row: 3 / 4;
        grid-column: 1 / 2 ;
        justify-self: center;
        align-self: flex-start;
    }

    .description, .new-description {
        grid-column: 2 / 2;
        grid-row: 2 / 3;
    }

    .scenario_picture {
        grid-row: 3 / 4;
        grid-column: 2 / 2;
        align-self: flex-start;
    }

}


@media screen and (min-width: 1500px) {
    .image_container {
        height: 525px;
        width: 700px;
    }

    .description, .new-description {
        width: 700px;
        height: 450px;
    }

}
