@import '../../styles/vars';

.form {
    min-width: 400px;
    max-width: 600px;
    margin: 1rem 1rem -1rem 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;

    &_title {
        text-align: center;
        grid-column: 1 / span 12;
        grid-row: 1 / 2;
    }

    &_content {
        grid-column: 1 / span 12;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
    }

    &_item  {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
    }

    &_label {
        margin-bottom: 0.3rem;
    }
    
    &_group {
        display: flex;
        width: 150px;
        height: 30px;

    }
     &_checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        &-input {
            margin-right: 1rem;
        }
     }

}

.error_message {
    color: red;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
}

#submit_button {
    position: relative;
    top: 1rem;
    left: 16rem;
}

#cancel_button {
    position: relative;
    top: -1rem;
    left: 8rem;
}

#image_preview {
    max-width: 150px;
    max-height: 200px;
    align-self: center;
}

@media screen and (min-width: 1200px) {
    .form {
        max-width: 1000px;
        
        &_content {
            grid-column: 1 / span 12;
            grid-row: 2 / 3;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 0.5rem;
        }
    }
    
    .newMonster_name {
        grid-column: 1 / span 4;
        grid-row: 1 / 2;
    }
        
    .newMonster_picture {
        grid-column: 1 / span 4;
        grid-row: 3 / 4;
    }

    #image_preview {
        grid-column: 1 / span 4;
        grid-row: 4 / 5;
        justify-self: center;
    }

    .newMonster_isBoss {
        grid-column: 1 / span 4;
        grid-row: 5 / 6;
    }

    .newMonster_hasBooster {
        grid-column: 1 / span 4;
        grid-row: 6 / 7;
    }

    .newMonster_level {
        grid-column: 1 / span 4;
        grid-row: 7 / 8;
    }

    .newMonster_caracteristics {
        grid-column: 5 / span 4;
        grid-row: 1 / span 8;
    }

    .newMonster_actions {
        grid-column: 9 / span 4;
        grid-row: 1 / span 8;
    }
           
    #submit_button {
        position: relative;
        top: 1.1rem;
        left: 40rem;
    }
    
    #cancel_button {
        position: relative;
        top: -1rem;
        left: 33rem;
    }
    
}